body {
	margin: 50;
	font-family: -apple-system, BlinkMacSystemFont, "Fira Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
	padding: 50px;
}

#books-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#list-container {
	padding: 10px;
}

.book-item {
	margin-top: 20px;
	padding: 5px;
	border-radius: 10px;
}

.book-item:hover {
	background-color: aquamarine;
	box-shadow: 0px 0px 3px 0px red;
}

#book-details-container {
	padding: 20px;
	border-radius: 15px;
	border-left: 5px solid red;
}

.add-book {
	margin-top: 60px;
	padding: 20px;
}

.add-book * {
	padding: 2px;
}
